.film-details__top-container {
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.film-details__middle-container {
    background-color: #121213;
    padding: 0 10px;
}

.film-details__bottom-container {
    width: 1070px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 64px;
    padding-left: 10px;
    padding-right: 10px;
}

.film-details__info-wrap {
    display: flex;
    justify-content: space-between;
    width: 1070px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 37px;
}
.film-details__poster {
    display: flex;
    flex-direction: column;
}
.film-details__age {
    margin: 0;
    margin-top: 50px;
}
.film-details__poster-img {
    display: flex;
    width: 338px;
    height: 500px;
    object-fit: contain;
}
.film-details__info {
    width: 680px;
}
.film-details__info-head {
    display: flex;
    margin-bottom: 24px;
}
.film-details__title-wrap {
    width: 540px;
}
.film-details__title {
    font-size: 50px;
    margin: 0;
}
.film-details__title-original {
    font-size: 21px;
    margin: 0;
}
.film-details__rating {
    width: 120px;
    margin-left: auto;
}
.film-details__total-rating {
    margin: 0;
    font-size: 50px;
    font-weight: bold;
    color: #42cd51;
}
.film-details__user-rating {
    margin: 0;
    font-size: 21px;
    color: #687fad
}
.film-details__row {
    margin: 7px 0;
    font-size: 21px;
    box-sizing: content-box;
}
.film-details__row td {
    padding-top: 6px;
    padding-bottom: 6px;
    vertical-align: top;
}
.film-details__term {
    width: 140px;
    padding-right: 15px;
}
.film-details__cell {
    width: 330px;
    font-weight: 600;
}
.film-details__genre {
    padding-right: 15px;
}
.film-details__table {
    margin-bottom: 37px;
}
.film-details__film-description {
    width: 650px;
    font-size: 21px;
    font-weight: 600;
    line-height: 1.57;
    margin: 0;
}
.film-details__age {
    font-size: 21px;
}
.film-details__controls {
    width: 1070px;
    margin: 0 auto;
    border-top: 1px solid #31353f;
    border-bottom: 1px solid #31353f;
    padding: 22px 50px;
    display: flex;
}
.film-details__control-button {
    position: relative;
    padding-right: 42px;
    width: 360px;
    font-size: 21px;
    background-color: transparent;
    border: none;
    color: #ffffff;
    cursor: pointer;
}
.film-details__control-button:not(:first-of-type) {
    border-left: 1px solid #31353f
}
.film-details__control-button:hover {
    opacity: 0.7;
}
.film-details__control-button::before {
    content: '';
    width: 17px;
    height: 17px;
    position: absolute;
    top: 3px;
    left: 40px;
    background-color: transparent;
}
.film-details__control-button--watchlist::before {
    background: url("../images/icons/icon-watchlist.svg") no-repeat;
    background-size: 17px 15px;
}
.film-details__control-button--watched::before {
    background: url("../images/icons/icon-watched.svg") no-repeat;
    background-size: 17px 10px;
    top: 7px;
}
.film-details__control-button--favorite::before {
    background: url("../images/icons/icon-favorite.svg") no-repeat;
    background-size: 18px;
}
.film-details__control-button--active {
    color: #f5df00;
}
.film-details__control-button--active.film-details__control-button--watchlist::before {
    background-image: url("../images/icons/icon-watchlist-active.svg");
}
.film-details__control-button--active.film-details__control-button--watched::before {
    background-image: url("../images/icons/icon-watched-active.svg");
}
.film-details__control-button--active.film-details__control-button--favorite::before {
    background-image: url("../images/icons/icon-favorite-active.svg");
}


.film-details__comments-wrap {
    width: 630px;
    color: #f6f6f6;
}
.film-details__comments-title {
    margin: 0;
    margin-bottom: 30px;
    font-size: 30px;
}
.film-details__comments-list {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 30px;
}
.film-details__comment-text {
    margin: 0;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 600;
}
.film-details__comment-info {
    margin: 0;
    margin-bottom: 15px;
    font-size: 16px;
}
.film-details__comment-author {
    padding-right: 20px;
    position: relative;
}
.film-details__comment-author::after {
    content: '';
    position: absolute;
    right: 5px;
    top: 8px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #d8d8d8;
}
.film-details__comment-day {
    padding-right: 20px;
    position: relative;
}
.film-details__comment-day::after {
    content: '';
    position: absolute;
    right: 5px;
    top: 8px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #d8d8d8;
}
.film-details__comment-delete {
    padding: 0;
    color: #687fad;
    background-color: transparent;
    outline: none;
    text-decoration: underline;
    border: none;
}
.film-details__comment-delete:hover {
    opacity: 0.7;
}
