.controls-item {
    background-color: transparent;
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    border: none;
    border-right: solid 1px var(--outline-color);
    box-sizing: border-box;
    flex-basis: 33%;
    height: 30px;
    opacity: 1;
    text-indent: -900em;
    transition: opacity 0.1s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls-item:last-of-type {
    border-right: 0;
}

.controls-item:not(.controls-item--active):hover {
    opacity: 0.7;
}

.controls-item--add-to-watchlist {
    background-image: url('../../../assets/icons/icon-watchlist.svg');
    background-size: 17px 15px;
}

.controls-item--mark-as-watched {
    background-image: url('../../../assets/icons/icon-watched.svg');
    background-size: 14px 10px;
}

.controls-item--favorite {
    background-image: url('../../../assets/icons/icon-favorite.svg');
    background-size: 18px 18px;
}

/*.controls-item--active.controls-item--add-to-watchlist {*/
/*    background-image: url('../../assets/icons/icon-watchlist-active.svg')*/
/*}*/

/*.controls-item--active.controls-item--mark-as-watched {*/
/*    background-image: url('../../assets/icons/icon-watched-active.svg')*/
/*}*/

/*.controls-item--active.controls-item--favorite {*/
/*    background-image: url('../../assets/icons/icon-favorite-active.svg')*/
/*}*/
