.film-details__new-comment {
    display: flex;
    align-items: center;
    padding-bottom: 60px;
    position: relative;
}
.film-details__add-emoji-label {
    width: 79px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 55px;
    line-height: 1;
    border-radius: 50%;
    border: dashed 1px #979797;
    background-color: rgba(255, 255, 255, 0.1);
    margin-right: 14px;
}

.film-details__comment-input {
    width: 100%;
}
