.film-card {
    flex-basis: 230px;
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 10px;
    padding-top: calc(340px + 50px + 10px);
    position: relative;
}

.film-card--no-controls {
    padding-top: calc(340px + 10px);
}

.film-card__link:hover {
    opacity: 1;
}

.film-card__title,
.film-card__rating {
    display: inline;
    font-weight: 700;
}

.film-card__title {
    margin-right: 0.5em;
}

.film-card__rating,
.film-card__rating--good {
    color: var(--text-color-good);
}

.film-card__rating--average {
    color: var(--text-color-average);
}

.film-card__rating--poor {
    color: var(--text-color-poor);
}

.film-card__info span {
    margin-right: 10px;
}

.film-card__poster {
    border: dotted 1px rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    bottom: calc(100% - 340px - 50px);
    height: 340px;
    overflow: hidden;
    position: absolute;
    transition: bottom 0.2s ease-out;
    width: 100%;
    z-index: 1;
}

.film-card--no-controls .film-card__poster {
    bottom: calc(100% - 340px);
    transition: none;
}

.film-card__description {
    font-size: var(--font-size-smaller);
    padding-right: 30px;
}

.film-card__comments {
    background: none;
    border: 0;
    color: #687fad;
    cursor: pointer;
    font-family: var(--font);
    font-size: var(--font-size);
    margin: 0;
    opacity: 1;
    padding: 0;
    transition: opacity 0.1s ease-out;
}

.film-card__comments:hover {
    opacity: 0.7;
}

.film-card__controls {
    align-items: flex-end;
    bottom: calc(100% - 340px - 50px);
    display: flex;
    height: 0;
    justify-content: space-between;
    line-height: 50px;
    overflow: hidden;
    padding: 10px 0;
    position: absolute;
    transition: height 0.1s ease-in;
    width: 100%;
}

.film-card .film-card__poster {
    bottom: calc(100% - 340px);
}

.film-card .film-card__controls {
    height: 50px;
}
